{
 
  "presets": [
    ["@babel/preset-env", 
      {
        "useBuiltIns": "usage",
        "corejs":3,
        "modules": false
      }
    ]
    
  ],
  "env":{
     "test":{
      "plugins":[
        "@babel/plugin-transform-modules-commonjs",
        [
          "istanbul",
          {
            "useInlinesSourceMaps":true,
            "exclude":[
              "**/*.spec.js"
            ]
          }
        ]
      ]
     }
  }
}
